---
---

@import "{{ site.theme }}";
body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $text-white;
  background-color: $bg-gray-dark;
}
a {
  color: $text-orange-light;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
